<br>
<div class="global_content">
 <div class="jaja">
   <div id="textArea"></div>
   <script src="src-min/ace.js" type="text/javascript" charset="utf-8"></script>
   <script src="javascript/index.js"></script>
   <script src="javascript/semantic.js"></script>
   <div id="button">
     <button class="butEx" id="b1" type="button" onclick="loadFile('files/example1.txt');">Funciones Anidadas</button>
     <button class="butEx" id="b2" type="button" onclick="loadFile('files/example2.txt');">If Then</button>
     <button class="butEx" id="b6" type="button" onclick="loadFile('files/example6.txt');">While</button>
     <br>
   </div>
   <button id="parseButton" onclick="">Parser</button>
 </div>
 <div class="xd">
   <h3>Árbol generado</h3>
   <textarea readonly id="exit"></textarea>
 </div>
</div>
