<div class="global_content">
 </div>
  <div id="instruc">
    <h3>Instrucciones</h3>
    <h4>Lenguaje abstracto de especificación</h4>
    <p>Este lenguaje no corresponde con ninguno en concreto, si bien si guarda cierto parecido general con algunos de ellos propuestos en la literatura sobre este tema.</p>
    <h4>Especificación</h4>
    <h5>Variables</h5>
    <p>Las variables se declaran mediante el siguiente esquema: <i>nombreDeLaVariable</i> seguido del símbolo <i>:</i> y por último el <i>valor</i> que poseerá</p>
    <h5>Operaciones</h5>
    <p>Para las operaciones matemáticas entre variables se deben usar los siguientes símbolos:
    <ul>
      <li>'+' para la suma.</li>
      <li>'-' para la resta.</li>
      <li>'*' para la multiplicación</li>
      <li>'/' para la división</li>
      <li>'=' para la asignación</li>
    </ul>
    </p>
    <h5>Estructuras de control</h5>
    <p>Para definir una estructura de control se empezará con la palabra reservada <i>si</i> seguida de una condición y posteriormente la palabra reservada <i>hacer</i>. A continuación se desarrollan las operaciones que se dan si se cumple la condición.</p>
    <p>Si hubiera otro caso se debe poner <i>si_no</i> seguido de una condición si la hubiera. Como en el caso anterior, a continuación se desarrollan las operaciones que se dan si se cumple la condición</p>
    <p>Para cerrar el bloque debe usar: <i>fsi</i>.</p>
    <h5>Bucles</h5>
    <p>Para recorrer una estructura de datos se debe comenzar usando la palabra reservada <i>para</i> seguida de una variable igualandola mediante el signo <i>=</i> a un valor numérico. seguido se le dice cuando parar. Para ello se usa <i>hasta</i> seguida del valor o de la variable donde queremos que pare y seguidamente usaremos la palabra <i>hacer</i>. Para cerrar el bucle se debe escribir <i>fpara</i></p>
    <p>Otra forma de recorrer estructuras de datos es mediante el blucle <i>mientras</i> cuya sintaxis es: <i>mientras</i> seguida de una asignación <i>hacer</i> el bloque a ejecutar y <i>fmientras</i></p>
    <h5>Funciones</h5>
    <p>Para la construcción de las funciones se debe comenzar con la palabra reservada <i>fun</i> seguida del nombre de la función, entre paréntesis las variables que vamos a utilizar y <i>dev</i> seguida del tipo que devuelve. </p>
    <p>Una vez se haya completado la función se debe cerrar usando <i>ffun</i>.</p>
  </div>
</div>
