<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%- title %></title>
    <link href="http://cdn.alloyui.com/3.0.1/aui-css/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="./stylesheets/style.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="javascript/parser.js" type="text/javascript"></script>
  </head>
  <body>
    <h1>Proyecto Procesadores de Lenguaje: PL0 </h1>
    <div id="menuCab">
      <ul>
        <li><a href="https://github.com/alu0100614220/proyecto_PL0"><i class="fa fa-github" aria-hidden="true"></i> Repositorio del proyecto</a></li>
        <li><a href="https://en.wikipedia.org/wiki/PL/0"><i class="fa fa-wikipedia-w" aria-hidden="true"></i> PL0 Wikipedia</a></li>
      </ul>
    <%- body %>
  </body>
</html>
